 <div class = "col-md-4" *ngFor = "let vehiculo of vehiculos">
    <div class = "card text-center">
        <div class= "card-header bg-dark text-white d-flex justify-content-between align-item-center">
            <p> </p>{{vehiculo.matricula}}
            
            <button class = "btn btn-danger" (click)="deleteVehiculo(vehiculo.matricula)">
                <i class="far fa-trash-alt"></i>
                </button>
                
        </div>
        <div class = "card-body">
            <p>Dueño: {{vehiculo.nombreDue}}</p>
            <p>Modelo: {{vehiculo.modelo}}</p>
            <p>Color: {{vehiculo.color}}</p>
            <p>Espacio: {{vehiculo.espacio}}</p>
            <a href="" class="btn btn-info btn-block" > EDIT </a>
        </div>
    </div>
</div>
  
