<div class="container">
    <div class="hero">
      <div class="hero-content">
        <h2>Inicia sesion con tu usuario y contraseña</h2>
        <p>Al ser parte de nosotros podras disfrutar de todos nuestros servicios.</p>
        <a class="nav-link" href="home/crea_cuenta">¿No tienes una cuenta? clic aquí</a>
      </div>
    </div>
    <div class="login-box">
      <form>
        <div class="form-group">
          <input type="email" name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
  
