<div class="lugar"><h2 >Lugares desponibles</h2>
    <p>Observa el mapa de nuetro estacionamiento y selecciona el espacio que mas te agrade.</p></div>

<div class="image-container">
    <img src="https://img.freepik.com/premium-photo/panoramic-view-from-drone-empty-parking-with-white-marking-lines-asphalt-with-numbered-places-parking-cars-background_338799-1926.jpg?w=740" alt="Descripción de la imagen" class="centered-image">
    <div class="A1"> <h3>A1</h3></div>
            <div class="A2"> <h3>A2</h3></div>
            <div class="A3"> <h3>A3</h3></div>
            <div class="A4"> <h3>A4</h3></div>
            <div class="B1"> <h3>B1</h3></div>
            <div class="B2"> <h3>B2</h3></div>
            <div class="B3"> <h3>B3</h3></div>
            <div class="B4"> <h3>B4</h3></div>
            <div class="C1"> <h3>C1</h3></div>
            <div class="C2"> <h3>C2</h3></div>
            <div class="C3"> <h3>C3</h3></div>
            <div class="C4"> <h3>C4</h3></div>
            <div class="D1"> <h3>D1</h3></div>
            <div class="D2"> <h3>D2</h3></div>
            <div class="D3"> <h3>D3</h3></div>
            <div class="D4"> <h3>D4</h3></div>
      </div>
      